/.idea/
/precheck_results/
*/tmp
*/*/tmp
*.hex*
*.lst
*.vcd
*.gtkw
/caravel/
/opt/caravel_180/dependencies/
/deps/
/mgmt_core_wrapper/
/openlane/user_proj_example/1
/opt/caravel_180/venv/
/opt/caravel_180/deps/


